<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon/favicon.ico" />
    <meta name="theme-color" content="#ffffff">

    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/normalize.min.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/flickity.min.css")
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
        <div class="row">
            <div class="header-nav-wrapper">
                <div class="logo">
                    <a href="/"><img src="~/Content/img/synthetica-logo.png" alt="Web Printer"></a>
                </div>
                <div class="primary-nav-wrapper">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#intro">The collective</a></li>
                            <li><a href="#team">The crew</a></li>
                            <li><a href="#articles">Articles</a></li>
                            <li><a href="#freebies">Freebies</a></li>
                        </ul>
                    </nav>
                    <div class="secondary-nav-wrapper">
                        <ul class="secondary-nav">
                            <li class="subscribe"><a href="#get-started">Subscribe</a></li>
                            <li class="search"><a href="#search" class="show-search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="search-wrapper">
                        <ul class="search">
                            <li>
                                <input type="text" id="search-input" placeholder="Start typing then hit enter to search">
                            </li>
                            <li>
                                <a href="#" class="hide-search"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="has-padding footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-branding">
                    <img class="footer-branding-logo" src="~/Content/img/synthetica-logo.png" alt="Synthetica freebie html5 css3 template peter finlan logo">
                    <p>A free HTML5/CSS3 template by <a href="http://www.peterfinlan.com">Peter Finlan</a>, exclusively for <span class="bold-italic">Codrops</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 footer-nav">
                    <ul class="footer-primary-nav">
                        <li><a href="#intro">The Collective</a></li>
                        <li><a href="#team">The Crew</a></li>
                        <li><a href="#articles">Articles</a></li>
                        <li><a href="#freebies">Freebies</a></li>
                        <li><a href="#">Subscribe</a></li>
                    </ul>
                    <ul class="footer-share">
                        <li><a href="http://tympanus.net/codrops/licensing/">Licence</a></li>
                        <li><a href="#" class="share-trigger"><i class="fa fa-share"></i>Share</a></li>
                    </ul>
                    <div class="share-dropdown">
                        <ul>
                            <li><a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <ul class="footer-secondary-nav">
                        <li>&copy; @DateTime.Now.Year – Web Printer</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/modernizr-2.8.3-respond-1.4.2.min.js")
    @Scripts.Render("~/Scripts/retina.min.js")
    @Scripts.Render("~/Scripts/jquery.waypoints.min.js")
    @Scripts.Render("~/Scripts/flickity.pkgd.min.js")
    @Scripts.Render("~/Scripts/scripts-min.js")
</body>

</html>
