<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon/favicon.ico" />
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/normalize.min.css")
    @Styles.Render("~/Content/css/animate.min.css")
    @Styles.Render("~/Content/css/flickity.min.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
        <div class="row">
            <div class="header-nav-wrapper">
                <div class="logo">
                    <a href="/"><img src="~/Content/img/synthetica-logo.png" alt="Web Printer"></a>
                </div>
                <div class="primary-nav-wrapper">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#intro">The collective</a></li>
                            <li><a href="#team">The crew</a></li>
                            <li><a href="#articles">Articles</a></li>
                            <li><a href="#freebies">Freebies</a></li>
                        </ul>
                    </nav>
                    <div class="secondary-nav-wrapper">
                        <ul class="secondary-nav">
                            <li class="subscribe"><a href="#get-started">Subscribe</a></li>
                            <li class="search"><a href="#search" class="show-search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="search-wrapper">
                        <ul class="search">
                            <li>
                                <input type="text" id="search-input" placeholder="Start typing then hit enter to search">
                            </li>
                            <li>
                                <a href="#" class="hide-search"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <header class="hero">
        <div class="carousel js-flickity flickity-enabled is-draggable" tabindex="0">
            <div class="flickity-viewport" style="height: 344px;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-201.43%);">
                    <div class="carousel-cell" style="position: absolute; left: 0%; background-image: url(Content/img/hero-bg-01.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Introducing, Synthetica. A blissful HTML5/CSS3 Template, free forever.</h1>
                                        <a href="#intro" class="btn primary wp2 animated fadeInUp">Learn more</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>Synthetica is a <span class="bold italic">FREE</span>, HTML5/CSS3 template by Peter Finlan, available for download exclusively via Codrops. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="carousel-cell" style="position: absolute; left: 100.71%; background-image: url(Content/img/hero-bg-02.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Get a head start, with the Synthetica Sketch file.</h1>
                                        <a href="http://tympanus.net/codrops/?p=26570" class="btn primary wp2 animated fadeInUp">Download Sketch File</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>Create your landing page in minutes with Synthetica's Sketch style guide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="carousel-cell is-selected" style="position: absolute; left: 201.43%; background-image: url(Content/img/hero-bg-03.jpg);">
                        <div class="hero-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1 class="wp1 animated fadeInUp">Download Synthetica today, it's free forever.</h1>
                                        <a href="http://tympanus.net/codrops/?p=26570" class="btn primary wp2 animated fadeInUp">Download Template</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                                        <p>Available exclusively from Codrops.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="flickity-page-dots"><li class="dot is-selected"></li><li class="dot"></li><li class="dot"></li></ol>
            <button class="flickity-prev-next-button previous" type="button" aria-label="previous" disabled=""><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
            <button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
        </div>
      <div class="mouse-container">
			<a href="#intro">
				<div class="mouse">
					<span class="scroll-down"></span>
				</div>
			</a>
		</div>
    </header>
    @RenderBody()
    <footer class="has-padding footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-branding">
                    <img class="footer-branding-logo" src="~/Content/img/synthetica-logo.png" alt="Synthetica freebie html5 css3 template peter finlan logo">
                    <p>A free HTML5/CSS3 template by <a href="http://www.peterfinlan.com">Peter Finlan</a>, exclusively for <span class="bold-italic">Codrops</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 footer-nav">
                    <ul class="footer-primary-nav">
                        <li><a href="#intro">The Collective</a></li>
                        <li><a href="#team">The Crew</a></li>
                        <li><a href="#articles">Articles</a></li>
                        <li><a href="#freebies">Freebies</a></li>
                        <li><a href="#">Subscribe</a></li>
                    </ul>
                    <ul class="footer-share">
                        <li><a href="http://tympanus.net/codrops/licensing/">Licence</a></li>
                        <li><a href="#" class="share-trigger"><i class="fa fa-share"></i>Share</a></li>
                    </ul>
                    <div class="share-dropdown">
                        <ul>
                            <li><a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <ul class="footer-secondary-nav">
                        <li>&copy; @DateTime.Now.Year – Web Printer</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/modernizr-2.8.3-respond-1.4.2.min.js")
    @Scripts.Render("~/Scripts/retina.min.js")
    @Scripts.Render("~/Scripts/jquery.waypoints.min.js")
    @Scripts.Render("~/Scripts/flickity.pkgd.min.js")
    @Scripts.Render("~/Scripts/scripts-min.js")
</body>

</html>
