@model WP.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectPrecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectPrecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjecttColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjecttColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dd>
            @Html.ActionLink("Download", "Download", new { name = ViewBag.fileName[0].ToString()})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
