@model WP.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <div class="row">
        <br />
        <br />
        <br />
        <div class="col-md-8">
            <h4>Change your account settings</h4>
            <hr />
            <p>
                <input type="button" value="Edit profile" class="btn primary" onclick="location.href='@Url.Action("EditProfile", "Manage")'" />
            </p>
            <p>
<<<<<<< HEAD
                <input type="button" value="Manage" onclick="location.href='@Url.Action("ManageLogins", "Manage")'" />
=======
                <input type="button" value="Manage" class="btn primary" onclick="location.href='@Url.Action("Manage logins", "Manage")'" />
>>>>>>> fdbf209b42f40f181275ba0c44af38780a297d17
            </p>
            <p>
                @if (Model.HasPassword)
                {
                    <input type="button" value="Change password" class="btn primary" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" />
                }
                else
                {
                    <input type="button" value="Create password" class="btn primary" onclick="location.href='@Url.Action("SetPassword", "Manage")'" />
                }
            </p>
            <p>
                <input type="button" value="My purchases" class="btn primary" onclick="location.href='@Url.Action("Index", "Purchases")'" />
            </p>
        </div>
    </div>
</div>