@model WP.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <div class="row">
        <br />
        <br />
        <br />
        <div class="col-md-8">
            <h4>Change your account settings</h4>
            <hr />
            <p style="margin-left: 32px">
                <input type="button" value="Edit profile" onclick="location.href='@Url.Action("EditProfile", "Manage")'" />
            </p>
            <p>
                <input type="button" value="Manage" onclick="location.href='@Url.Action("Manage logins", "Manage")'" />
            </p>
            <p style="margin-left: 39px">
                @if (Model.HasPassword)
                {
                    <input type="button" value="Change password" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" />
                }
                else
                {
                    <input type="button" value="Create password" onclick="location.href='@Url.Action("SetPassword", "Manage")'" />
                }
            </p>
            <p>
                <input type="button" value="My purchases" onclick="location.href='@Url.Action("Index", "Purchases")'" />
            </p>
        </div>
    </div>
</div>